@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
html, body {
	font-family: "Source Sans Pro", sans-serif;
}
.field {
	font-size: 1.25em;
	height: 37px;
	line-height: 37px;
	position: relative;
}
.field-label {
	display: inline-block;
	width: 100px;
	text-align: right;
}
.field input {
	width: 100px;
	position: absolute;
	left: 120px;
}
.field select {
	position: absolute;
	top: 1px;
	left: 230px;
	width: 180px;
}
.field button {
	position: absolute;
	left: 420px;
}
input, select, button {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2em;
}
